In [2]:
import mysql.connector

try:
    db = mysql.connector.connect(
        host="localhost",
        user="aio2025",
        password="aio2025",
        database="aio2025"
    )
    print("Connection successful!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()

Connection successful!

In [4]:
cursor = db.cursor()

In [ ]:
# Create table products
cursor.execute("""
CREATE TABLE aio2025.products(
               product_id int auto_increment NOT NULL,
               product_name varchar(100) NOT NULL,
               category varchar(50),
               price decimal(10,2),
               stock_quantity int,
               CONSTRAINT products_pk PRIMARY KEY (product_id)
               );
""")

db.commit()

In [ ]:
# Create table customers
cursor.execute("""
CREATE TABLE aio2025.customers(
               customer_id int auto_increment NOT NULL,
               fullname varchar(100),
               phone_number varchar(15),
               email varchar(100),
               CONSTRAINT customers_pk PRIMARY KEY (customer_id),
               CONSTRAINT customers_unique UNIQUE KEY (phone_number, email)
               );
""")

db.commit()

In [6]:
cursor.execute("""
CREATE TABLE aio2025.salespersons(
               salesperson_id int auto_increment NOT NULL,
               fullname varchar(100),
               phone_number varchar(15),
               CONSTRAINT salespersons_pk PRIMARY KEY(salesperson_id),
               CONSTRAINT salsepersons_unique UNIQUE(phone_number)
               );
""")

db.commit()

In [15]:
cursor.execute("""
CREATE TABLE aio2025.orders(
               order_id int auto_increment NOT NULL PRIMARY KEY,
               customer_id int NOT NULL,
               salesperson_id int NOT NULL,
               order_date date,
               total_amount decimal(10,2),
               CONSTRAINT orders_fk_customers FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
               CONSTRAINT orders_fk_salespersons FOREIGN KEY (salesperson_id) REFERENCES salespersons(salesperson_id)
               );
""")

db.commit()

In [16]:
cursor.execute("""
CREATE TABLE aio2025.orderdetails(
               order_detail_id int auto_increment NOT NULL PRIMARY KEY,
               order_id int not null,
               product_id int not null,
               quantity int,
               subtotal decimal(10,2),
               CONSTRAINT orderdetails_fk_orders FOREIGN KEY (order_id) REFERENCES orders(order_id),
               CONSTRAINT orderdetails_fk_products FOREIGN KEY (product_id) REFERENCES products(product_id)
               );
""")

db.commit()

In [18]:
cursor.execute("""
               INSERT INTO aio2025.products(product_id, product_name, category, price, stock_quantity)
               VALUES
               (1, 'Laptop Dell XPS', 'Laptop', 25000000, 10),
               (2, 'iPhone 14', 'Điện thoại', 22000000, 15),
               (3, 'Tai nghe Sony', 'Phụ kiện', 3000000, 20),
               (4, 'Bàn phím Cơ', 'Phụ kiện', 1500000, 50),
               (5, 'MacBook Air M2', 'Laptop', 28000000, 8);         
               """)

db.commit()

In [19]:
cursor.execute("""
               INSERT INTO aio2025.customers(customer_id, fullname, phone_number, email)
               VALUES
               (1, 'Nguyễn Văn A', 987654321, 'a@example.com'),
               (2, 'Trần Thị B', 976543210, 'b@example.com'),
               (3, 'Lê Văn C', 965432109, 'c@example.com'),
               (4, 'Phạm Thị D', 945678123, 'd@example.com'),
               (5, 'Bùi Văn E', 936789123, 'e@example.com');
               """)

db.commit()

In [20]:
cursor.execute("""
               INSERT INTO aio2025.salespersons(salesperson_id, fullname, phone_number)
               VALUES
               (1, 'Lê Hoàng Nam', 934567890),
               (2, 'Trần Quốc Bảo', 945678123),
               (3, 'Nguyễn Minh Hà', 956789123);
               """)

db.commit()

In [21]:
cursor.execute("""
               INSERT INTO aio2025.orders(order_id, customer_id, salesperson_id, order_date, total_amount)
               VALUES
               (1, 1, 1, '2024-03-10', 25000000),
               (2, 2, 2, '2024-03-11', 3000000),
               (3, 3, 3, '2024-03-12', 22000000);
               """)

db.commit()

In [22]:
cursor.execute("""
               INSERT INTO aio2025.orderdetails(order_detail_id, order_id, product_id, quantity, subtotal)
               VALUES
               (1, 1, 1, 1, 25000000),
               (2, 2, 3, 1, 3000000),
               (3, 3, 2, 1, 22000000);
               """)

db.commit()

In [ ]:
sql = "SELECT * FROM orders WHERE customer_id = 1"