In [ ]:
import mysql.connector

try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="aio2025",
        database="aio2025_demodb"
    )
    print("Connection successful!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()

In [ ]:
cursor = mydb.cursor()
cursor.execute("""
CREATE TABLE aio2025_demodb.salespersons (
	sales_person_id INT auto_increment NOT NULL,
	fullname varchar(100) NOT NULL,
	email varchar(100) NOT NULL,
	phone_number varchar(100) NULL,
	CONSTRAINT salespersons_pk PRIMARY KEY (sales_person_id),
	CONSTRAINT salespersons_unique UNIQUE KEY (email)
);
""")

mydb.commit()

In [ ]:
cursor.execute("""
INSERT INTO aio2025_demodb.salespersons
(sales_person_id, fullname, email, phone_number)
VALUES
(1,'TestData1','TestData1@data.com','1234567890'),
(2,'TestData2','TestData2@data.com','1234567890'),
(3,'TestData3','TestData3@data.com','1234567890'),
(4,'TestData4','TestData4@data.com','1234567890'),
(5,'TestData5','TestData5@data.com','1234567890'),
(6,'TestData6','TestData6@data.com','1234567890'),
(7,'TestData7','TestData7@data.com','1234567890');""")

mydb.commit()

In [ ]:
cursor.execute("""
CREATE TABLE aio2025_demodb.customers (
	customer_id INT auto_increment NOT NULL,
	fullname varchar(100) NOT NULL,
	email varchar(100) NOT NULL,
	phone_number varchar(100) NULL,
	CONSTRAINT customers_pk PRIMARY KEY (customer_id),
	CONSTRAINT customers_unique UNIQUE KEY (email)
);
""")

mydb.commit()

In [ ]:
cursor.execute("""
CREATE TABLE aio2025_demodb.orders (
	order_id INT auto_increment NOT NULL,
	customer_id INT NULL,
	sales_person_id INT NULL,
	order_date DATE NULL,
	total_amount DECIMAL NULL,
	CONSTRAINT orders_pk PRIMARY KEY (order_id),
	CONSTRAINT orders_customers_FK FOREIGN KEY (customer_id) REFERENCES aio2025_demodb.customers(customer_id),
	CONSTRAINT orders_salespersons_FK FOREIGN KEY (sales_person_id) REFERENCES aio2025_demodb.salespersons(sales_person_id)
);
""")

In [ ]:
cursor.execute("""
INSERT INTO aio2025_demodb.customers
(customer_id, fullname, email, phone_number)
VALUES
(1,'customer1','customer_mail1@data.com','1234567890'),
(2,'customer2','customer_mail2@data.com','1234567890'),
(3,'customer3','customer_mail3@data.com','1234567890'),
(4,'customer4','customer_mail4@data.com','1234567890'),
(5,'customer5','customer_mail5@data.com','1234567890'),
(6,'customer6','customer_mail6@data.com','1234567890'),
(7,'customer7','customer_mail7@data.com','1234567890');
""")
mydb.commit()

In [ ]:
cursor.execute("""
INSERT INTO aio2025_demodb.orders
(order_id, customer_id, sales_person_id, order_date, total_amount)
VALUES
(1,5,2,'2024/04/23',2452922),
(2,1,4,'2024/07/05',7972336),
(3,7,4,'2024/08/21',6264611),
(4,3,6,'2024/06/03',8931947),
(5,2,7,'2024/04/11',8255736),
(6,3,2,'2024/03/07',3181224),
(7,4,4,'2024/12/15',9131878),
(8,7,3,'2024/08/10',1169398),
(9,3,6,'2024/01/20',2233125),
(10,2,2,'2024/02/09',415754),
(11,7,5,'2024/04/27',2448332),
(12,4,1,'2024/01/17',7021722),
(13,1,1,'2024/12/15',4462475),
(14,5,3,'2024/09/27',2037313),
(15,7,1,'2024/06/11',49131),
(16,3,1,'2024/08/05',7128277),
(17,4,6,'2024/03/28',8359985),
(18,5,4,'2024/05/04',2873092),
(19,3,5,'2024/02/03',330519),
(20,1,2,'2024/03/06',6339367),
(21,6,2,'2024/10/21',9492974),
(22,2,4,'2024/08/05',8637733);
""")
mydb.commit()

In [34]:
import pandas as pd
uri = "mysql+mysqlconnector://root:aio2025@localhost/aio2025_demodb"


sql_query= """SELECT * FROM aio2025_demodb.orders WHERE sales_person_id = 1;"""
data = pd.read_sql_query(sql_query, uri)
print(data)

   order_id  customer_id  sales_person_id  order_date  total_amount
0        12            4                1  2024-01-17     7021722.0
1        13            1                1  2024-12-15     4462475.0
2        15            7                1  2024-06-11       49131.0
3        16            3                1  2024-08-05     7128277.0

In [35]:
# Tìm khách hàng có số lượng đơn hàng nhiều nhất
sql_query = "SELECT customer_id, count(order_id) as order_count FROM aio2025_demodb.orders GROUP BY customer_id ORDER BY order_count DESC LIMIT 1;"
data = pd.read_sql_query(sql_query, uri)
print(data)

   customer_id  order_count
0            3            5

In [36]:
# Tính tổng doanh số của từng nhân viên
sql_query = "SELECT sales_person_id, sum(total_amount) as total_sale FROM aio2025_demodb.orders GROUP BY sales_person_id;"
data = pd.read_sql_query(sql_query, uri)
print(data)

   sales_person_id  total_sale
0                1  18661605.0
1                2  21882241.0
2                3   3206711.0
3                4  34879650.0
4                5   2778851.0
5                6  19525057.0
6                7   8255736.0

In [37]:
# Tìm  nhân viên có số doanh số cao nhất
sql_query = "SELECT sales_person_id, sum(total_amount) as total_sale FROM aio2025_demodb.orders GROUP BY sales_person_id ORDER BY total_sale DESC LIMIT 1;"
data = pd.read_sql_query(sql_query, uri)
print(data)

   sales_person_id  total_sale
0                4  34879650.0

In [39]:
# Cập  nhật tổng giá trị đơn hàng có ID = 2
sql_query = "UPDATE aio2025_demodb.orders SET total_amount = 4500000 WHERE order_id = 2;"
cursor.execute(sql_query)
mydb.commit()
data = pd.read_sql_query("SELECT * FROM aio2025_demodb.orders WHERE order_id = 2;", uri)
print(data)

   order_id  customer_id  sales_person_id  order_date  total_amount
0         2            1                4  2024-07-05     4500000.0

In [40]:
# Cập nhật số điện thoại của khách hàng có customerID = 3
sql_query = "UPDATE aio2025_demodb.customers SET phone_number = '121212121212' WHERE customer_id = 3;"
cursor.execute(sql_query)
mydb.commit()

data = pd.read_sql_query("SELECT * FROM aio2025_demodb.customers WHERE customer_id = 3;", uri)
print(data)

   customer_id   fullname                    email  phone_number
0            3  customer3  customer_mail3@data.com  121212121212

In [41]:
#Xóa tất cả các đơn hàng của khách hàng có CustomerID = 2
sql_query = "DELETE FROM aio2025_demodb.orders WHERE customer_id = 2;"
cursor.execute(sql_query)
mydb.commit()

data = pd.read_sql_query("SELECT * FROM aio2025_demodb.orders;", uri)
print(data)

    order_id  customer_id  sales_person_id  order_date  total_amount
0          1            5                2  2024-04-23     2452922.0
1          2            1                4  2024-07-05     4500000.0
2          3            7                4  2024-08-21     6264611.0
3          4            3                6  2024-06-03     8931947.0
4          6            3                2  2024-03-07     3181224.0
5          7            4                4  2024-12-15     9131878.0
6          8            7                3  2024-08-10     1169398.0
7          9            3                6  2024-01-20     2233125.0
8         11            7                5  2024-04-27     2448332.0
9         12            4                1  2024-01-17     7021722.0
10        13            1                1  2024-12-15     4462475.0
11        14            5                3  2024-09-27     2037313.0
12        15            7                1  2024-06-11       49131.0
13        16            3                1  2024-08-05     7128277.0
14        17            4                6  2024-03-28     8359985.0
15        18            5                4  2024-05-04     2873092.0
16        19            3                5  2024-02-03      330519.0
17        20            1                2  2024-03-06     6339367.0
18        21            6                2  2024-10-21     9492974.0