In [ ]:
import mysql.connector

try:
    db = mysql.connector.connect(
        host="localhost", user="root", password="aio2025", database="aio2025"
    )
    print("Connection successful!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()

Connection successful!

In [5]:
cursor = db.cursor()
sql_task = """
CREATE TABLE tasks (
            task_id VARCHAR(10) NOT NULL,
            task_name VARCHAR(100) NOT NULL,
            task_type VARCHAR(30) NOT NULL,
            CONSTRAINT tasks_pk PRIMARY KEY (task_id)
            );
            """

sql_agent = """
CREATE TABLE agents (
            agent_id VARCHAR(10) NOT NULL,
            agent_name VARCHAR(100) NOT NULL,
            llm_model VARCHAR(30) NOT NULL,
            CONSTRAINT agents_pk PRIMARY KEY (agent_id)
            );
            """

sql_agent_task = """
CREATE TABLE agenttasks (
            agent_id VARCHAR(10) NOT NULL, 
            task_id VARCHAR(10) NOT NULL,
            CONSTRAINT agenttasks_agents_fk FOREIGN KEY (agent_id) REFERENCES agents(agent_id),
            CONSTRAINT agenttasks_tasks_fk FOREIGN KEY (task_id) REFERENCES tasks(task_id)
            );
            """

try:
    cursor.execute("DROP TABLE IF EXISTS agenttasks;")
    cursor.execute("DROP TABLE IF EXISTS tasks;")
    cursor.execute("DROP TABLE IF EXISTS agents;")
    db.commit()

    cursor.execute(sql_task)
    cursor.execute(sql_agent)
    cursor.execute(sql_agent_task)
    db.commit()
except mysql.connector.Error as err:
    print(err)

In [6]:
cursor.execute(
    """INSERT INTO agents (agent_id, agent_name, llm_model) VALUES
('A01', 'Claude Agent', 'Claude 3'),
('A02', 'GPT Assistant', 'GPT-4'),
('A03', 'Gemini Helper', 'Gemini 1.5');"""
)

db.commit()

In [7]:
cursor.execute(
    """INSERT INTO tasks (task_id, task_name, task_type) VALUES
('T01', 'Summarization', 'NLP'),
('T02', 'SQL Generation', 'Code'),
('T03', 'Sentiment Analysis', 'NLP');
"""
)

db.commit()

In [9]:
cursor.execute(
    """INSERT INTO agenttasks (agent_id, task_id) VALUES
('A01', 'T01'),
('A01', 'T03'),
('A02', 'T02'),
('A03', 'T01');
"""
)

db.commit()

In [11]:
import pandas as pd
uri = "mysql+mysqlconnector://root:aio2025@localhost/aio2025"

In [12]:
# a) Lấy danh sách các tác vụ và tên Agent thực hiện.
sql_a = """
SELECT t.task_name, a.agent_name FROM agenttasks at
JOIN tasks t ON at.task_id = t.task_id
JOIN agents a ON at.agent_id = a.agent_id
"""

data_a = pd.read_sql(sql_a, uri)
print(data_a)

            task_name     agent_name
0       Summarization   Claude Agent
1       Summarization  Gemini Helper
2      SQL Generation  GPT Assistant
3  Sentiment Analysis   Claude Agent

In [14]:
# b) Lấy danh sách các mô hình LLM đang được sử dụng.
sql_b = """
SELECT DISTINCT llm_model FROM agents
"""

data_b = pd.read_sql(sql_b, uri)
print(data_b)

    llm_model
0    Claude 3
1       GPT-4
2  Gemini 1.5

In [18]:
# c) Đếm số tác vụ thuộc mỗi loại (task_type).
sql_c = """
SELECT t.task_type, count(t.task_type) AS task_count FROM agenttasks at, tasks t
WHERE t.task_id = at.task_id
GROUP BY t.task_type
"""

data_c = pd.read_sql(sql_c, uri)
print(data_c)

  task_type  task_count
0       NLP           3
1      Code           1

In [22]:
# d) Tìm các Agent sử dụng LLM có tên bắt đầu bằng chữ G
sql_d = """
SELECT agent_name, llm_model FROM agents 
WHERE llm_model LIKE 'G%';
"""

data_d = pd.read_sql(sql_d, uri)
print(data_d)

      agent_name   llm_model
0  GPT Assistant       GPT-4
1  Gemini Helper  Gemini 1.5