In [5]:
import mysql.connector

try:
    db = mysql.connector.connect(
        host="localhost", user="root", password="aio2025", database="aio2025"
    )
    print("Connection successful!")

except mysql.connector.Error as err:
    print(err)

Connection successful!

In [8]:
cursor = db.cursor()
sql_items = """CREATE TABLE Items (
    item_code VARCHAR(10) PRIMARY KEY,
    item_name VARCHAR(100)
);"""

sql_warehouses = """CREATE TABLE Warehouses (
    warehouse_id VARCHAR(10) PRIMARY KEY,
    warehouse_name VARCHAR(100)
);"""

sql_customers = """CREATE TABLE Customers (
    customer_id VARCHAR(10) PRIMARY KEY,
    customer_name VARCHAR(100)
);"""

sql_staff = """CREATE TABLE Staff (
    staff_id VARCHAR(10) PRIMARY KEY,
    staff_name VARCHAR(100)
);"""

sql_storage_records = """CREATE TABLE StorageRecords (
    record_id VARCHAR(10) PRIMARY KEY,
    item_code VARCHAR(10),
    quantity INT,
    warehouse_id VARCHAR(10),
    location VARCHAR(50),
    customer_id VARCHAR(10),
    staff_id VARCHAR(10),
    FOREIGN KEY (item_code) REFERENCES Items(item_code),
    FOREIGN KEY (warehouse_id) REFERENCES Warehouses(warehouse_id),
    FOREIGN KEY (customer_id) REFERENCES Customers(customer_id),
    FOREIGN KEY (staff_id) REFERENCES Staff(staff_id)
);"""

In [9]:
try:
    cursor.execute("DROP TABLE IF EXISTS StorageRecords;")
    cursor.execute("DROP TABLE IF EXISTS Staff;")
    cursor.execute("DROP TABLE IF EXISTS Customers;")
    cursor.execute("DROP TABLE IF EXISTS Warehouses;")
    cursor.execute("DROP TABLE IF EXISTS Items;")
    db.commit()

    cursor.execute(sql_items)
    cursor.execute(sql_customers)
    cursor.execute(sql_warehouses)
    cursor.execute(sql_staff)
    cursor.execute(sql_storage_records)
    db.commit()

except mysql.connector.Error as err:
    print(err)

In [10]:
# INSERT DATA
cursor.execute(
    """INSERT INTO Items VALUES 
('IT001', 'Motor Oil 5L'),
('IT002', 'Engine Cleaner'),
('IT003', 'Battery 12V');"""
)

cursor.execute(
    """INSERT INTO Warehouses VALUES 
('WH01', 'Main Warehouse'),
('WH02', 'North Depot');"""
)

cursor.execute(
    """INSERT INTO Customers VALUES 
('C001', 'Mekong Corp'),
('C002', 'Vina Auto'),
('C003', 'Delta Co');"""
)

cursor.execute(
    """
INSERT INTO Staff VALUES 
('S01', 'Hoa Nguyen'),
('S02', 'Khang Tran');"""
)

cursor.execute(
    """INSERT INTO StorageRecords VALUES 
('R001', 'IT001', 50, 'WH01', 'Shelf A1', 'C001', 'S01'),
('R002', 'IT002', 30, 'WH01', 'Shelf B2', 'C002', 'S02'),
('R003', 'IT001', 40, 'WH02', 'Shelf C3', 'C001', 'S01'),
('R004', 'IT003', 25, 'WH01', 'Shelf A1', 'C003', 'S02');"""
)

db.commit()

In [11]:
import pandas as pd
uri = "mysql+mysqlconnector://root:aio2025@localhost/aio2025"

In [12]:
# 4.1. Liệt kê tổng số lượng từng loại hàng hóa đang lưu trong từng kho.
sql_1 = """
SELECT
	w.warehouse_name,
	i.item_name,
	SUM(sr.quantity) AS total_quantity
FROM
	StorageRecords sr
JOIN Items i ON
	sr.item_code = i.item_code
JOIN Warehouses w ON
	sr.warehouse_id = w.warehouse_id
GROUP BY
	w.warehouse_name,
	i.item_name;"""

data_1 = pd.read_sql(sql_1, uri)
print(data_1)

   warehouse_name       item_name  total_quantity
0  Main Warehouse    Motor Oil 5L            50.0
1     North Depot    Motor Oil 5L            40.0
2  Main Warehouse  Engine Cleaner            30.0
3  Main Warehouse     Battery 12V            25.0

In [ ]:
# Khách hàng và các mặt hàng họ gửi kho
sql_2 = """
SELECT
	c.customer_name,
	i.item_name,
	sr.quantity
FROM
	StorageRecords sr
JOIN Customers c ON
	sr.customer_id = c.customer_id
JOIN Items i ON
	sr.item_code = i.item_code;"""
data_2 = pd.read_sql(sql_2, uri)
print(data_2)

  customer_name       item_name  quantity
0   Mekong Corp    Motor Oil 5L        50
1   Mekong Corp    Motor Oil 5L        40
2     Vina Auto  Engine Cleaner        30
3      Delta Co     Battery 12V        25

In [14]:
# Nhân viên phụ trách hàng ở "Main Warehouse"
sql_3 = """
SELECT
	DISTINCT 
    s.staff_name
FROM
	StorageRecords sr
JOIN Warehouses w ON
	sr.warehouse_id = w.warehouse_id
JOIN Staff s ON
	sr.staff_id = s.staff_id
WHERE
	w.warehouse_name = 'Main Warehouse';"""

data_3 = pd.read_sql(sql_3, uri)
print(data_3)

   staff_name
0  Hoa Nguyen
1  Khang Tran

In [15]:
# Vị trí lưu trữ của từng mặt hàng trong từng kho
sql_4 = """
SELECT
	i.item_name,
	w.warehouse_name,
	sr.location
FROM
	StorageRecords sr
JOIN Items i ON
	sr.item_code = i.item_code
JOIN Warehouses w ON
	sr.warehouse_id = w.warehouse_id;"""

data_4 = pd.read_sql(sql_4, uri)
print(data_4)

        item_name  warehouse_name  location
0    Motor Oil 5L  Main Warehouse  Shelf A1
1    Motor Oil 5L     North Depot  Shelf C3
2  Engine Cleaner  Main Warehouse  Shelf B2
3     Battery 12V  Main Warehouse  Shelf A1

In [16]:
# Số lượng khách hàng đang gửi hàng tại mỗi kho
sql_5 = """
SELECT
	w.warehouse_name,
	COUNT(DISTINCT sr.customer_id) AS total_customers
FROM
	StorageRecords sr
JOIN Warehouses w ON
	sr.warehouse_id = w.warehouse_id
GROUP BY
	w.warehouse_name;"""

data_5 = pd.read_sql(sql_5, uri)
print(data_5)

   warehouse_name  total_customers
0  Main Warehouse                3
1     North Depot                1