In [5]:
import mysql.connector

try:
    db = mysql.connector.connect(
        host="localhost",
        user="root",
        password="aio2025",
        database="aio2025"
    )
    print("Connection successful!")

except mysql.connector.Error as err:
    print(f"Error: {err}")
    exit()

Connection successful!

In [6]:
cursor = db.cursor()
cursor.execute("DROP TABLE IF EXISTS transactions")
db.commit()

In [7]:

sql_stock = """
            CREATE TABLE stock (
            stock_id INT auto_increment NOT NULL,
            stock_code VARCHAR(3) NOT NULL,
            CONSTRAINT stock_pk PRIMARY KEY (stock_id)
            );"""
try:
    # Xóa bảng nếu nó tồn tại
    cursor.execute("DROP TABLE IF EXISTS stock")
    db.commit()

    # Tạo bảng mới
    cursor.execute(sql_stock)
    db.commit()

except mysql.connector.Error as err:
        print(f"Lỗi: {err}")

In [ ]:
sql_customers = """
                CREATE TABLE customers (
                customer_id INT AUTO_INCREMENT NOT NULL,
                customer_name VARCHAR(100) NOT NULL,
                CONSTRAINT customer_pk PRIMARY KEY (customer_id)
                );"""

sql_transactions = """
                CREATE TABLE transactions (
                transaction_id INT AUTO_INCREMENT NOT NULL,
                customer_id INT NOT NULL,
                stock_id INT NOT NULL,
                transation_date DATE NOT NULL,
                CONSTRAINT transactions_pk PRIMARY KEY (transaction_id),
                CONSTRAINT transactions_customers_FK FOREIGN KEY (customer_id) REFERENCES customers(customer_id),
                CONSTRAINT transactions_stock_fk FOREIGN KEY (stock_id) REFERENCES stock(stock_id)
                );"""

try:
    # Xóa bảng nếu nó tồn tại
    cursor.execute("DROP TABLE IF EXISTS customers")
    db.commit()

    # Tạo bảng mới
    cursor.execute(sql_customers)
    cursor.execute(sql_transactions)

    db.commit()

except mysql.connector.Error as err:
        print(f"Lỗi: {err}")

In [ ]:
sql_insert_customer = """
INSERT INTO customers (customer_id, customer_name)
VALUES
(1, 'Nguyen Van A'),
(2, 'Le Thi B'),
(3, 'Tran Van C');"""

sql_insert_stock = """
INSERT INTO stock (stock_id, stock_code)
VALUES
(1, 'VNM'),
(2, 'FPT'),
(3, 'MWG'),
(4, 'SSI'),
(5, 'VCB'),
(6, 'TCB')
;"""

sql_insert_transactions = """
INSERT INTO transactions (transaction_id, customer_id, stock_id, transation_date)
VALUES
(1, 1, 1, '2024-12-01'),
(2, 1, 2, '2024-12-01'),
(3, 1, 3, '2024-12-01'),
(4, 2, 4, '2024-12-02'),
(5, 3, 5, '2024-12-03'),
(6, 3, 6, '2024-12-03');"""

try:
    # Tạo data
    cursor.execute(sql_insert_customer)
    cursor.execute(sql_insert_stock)
    cursor.execute(sql_insert_transactions)

    db.commit()

except mysql.connector.Error as err:
        print(f"Lỗi: {err}")

In [11]:
import pandas as pd
uri = "mysql+mysqlconnector://root:aio2025@localhost/aio2025"

In [ ]:
#  Lấy thông tin giao dịch và các mã cổ phiếu tương ứng
get_transation_sql = """
SELECT c.customer_name, s.stock_code, t.transation_date FROM aio2025.transactions t
JOIN aio2025.customers c
ON t.customer_id  = c.customer_id
JOIN aio2025.stock s 
ON t.stock_id  = s.stock_id;"""

data = pd.read_sql_query(get_transation_sql, uri)
print(data)

  customer_name stock_code transation_date
0  Nguyen Van A        VNM      2024-12-01
1  Nguyen Van A        FPT      2024-12-01
2  Nguyen Van A        MWG      2024-12-01
3      Le Thi B        SSI      2024-12-02
4    Tran Van C        VCB      2024-12-03
5    Tran Van C        TCB      2024-12-03

In [13]:
# Cập nhật tên khách hàng Nguyen Van A thành Nguyen V. A.
update_customer_sql = """
UPDATE customers
SET customer_name = "Nguyen V. A"
WHERE customer_id = 1
"""
cursor.execute(update_customer_sql)
db.commit()

In [14]:
data = pd.read_sql_query(get_transation_sql, uri)
print(data)

  customer_name stock_code transation_date
0   Nguyen V. A        VNM      2024-12-01
1   Nguyen V. A        FPT      2024-12-01
2   Nguyen V. A        MWG      2024-12-01
3      Le Thi B        SSI      2024-12-02
4    Tran Van C        VCB      2024-12-03
5    Tran Van C        TCB      2024-12-03

In [ ]:
# Xóa mã cổ phiếu MWG khỏi giao dịch của khách hàng Nguyen V. A
delete_transaction_MWG_of_NVA = """
DELETE FROM transactions
WHERE customer_id = 1
AND stock_id = 3;"""
cursor.execute(delete_transaction_MWG_of_NVA)
db.commit()
data = pd.read_sql_query(get_transation_sql, uri)
print(data)

  customer_name stock_code transation_date
0   Nguyen V. A        VNM      2024-12-01
1   Nguyen V. A        FPT      2024-12-01
2      Le Thi B        SSI      2024-12-02
3    Tran Van C        VCB      2024-12-03
4    Tran Van C        TCB      2024-12-03

In [17]:
# Viết truy vấn đếm số lượng mã cổ phiếu mỗi khách hàng đã giao dịch.
count_of_transaction_stock = """
SELECT c.customer_name, s.stock_code , count(t.stock_id) AS amount FROM aio2025.transactions t
JOIN aio2025.customers c
ON t.customer_id  = c.customer_id
JOIN aio2025.stock s 
ON t.stock_id  = s.stock_id
GROUP BY t.customer_id, t.stock_id
"""

data = pd.read_sql_query(count_of_transaction_stock, uri)
print(data)

  customer_name stock_code  amount
0   Nguyen V. A        VNM       1
1   Nguyen V. A        FPT       1
2      Le Thi B        SSI       1
3    Tran Van C        VCB       1
4    Tran Van C        TCB       1

In [ ]:
# Tìm khách hàng giao dịch nhiều mã cổ phiếu nhất.
lagest_transation_customer = """
SELECT c.customer_name, count(t.stock_id) AS amount FROM aio2025.transactions t
JOIN aio2025.customers c
ON t.customer_id  = c.customer_id
GROUP BY t.customer_id
ORDER BY amount DESC
LIMIT 1
"""

data = pd.read_sql_query(lagest_transation_customer, uri)
print(data)

  customer_name  amount
0   Nguyen V. A       2